{% extends 'layout.html' %}


		
		{% block content %}
	<div class="min-h-screen bg-[#ede9f0]">
	  <main class="flex flex-col w-full md:w-[75%] lg:w-4/5 m-auto overscroll-y-auto h-[80vh] ">
			<div class="  bg-[#7A88F1]  h-[50vh] relative z-0 bg-no-repeat bg-cover " >
				<div class="p-5">
					<h1 class=" text-2xl md:text-4xl text-white font-semibold text-end">About The Creator</h1>
				</div>
				<div class="h-96 absolute top-0">
					<img class="h-full p-0 m-0 hidden md:block md:w-56" src="../static/images/profile.jpg" alt="">
				</div>
			</div>
			<div class=" bg-white  z-0 rounded-sm overflow-y-auto grid grid-cols-1 md:gap-10 place-content-between lg:grid-cols-2  ">
				<div class="p-5 mb-40 md:mb-0 ">
					<h2 class="mb-5 text-lg font-semibold">Basic Stacks</h2>
					<div class=" grid-cols-1 lg:grid-cols-2 grid gap-5 md:grid-cols-2 ">
						<div class="p-5 bg-orange-500 text-center text-white rounded-sm ">
							<p class="font-extrabold">HTML</p>
						</div>
						<div class="p-5 bg-blue-500 text-center text-white rounded-sm ">
							<p class="font-extrabold">CSS</p>
						</div>
						<div class="p-5 bg-yellow-500 text-center text-white rounded-sm ">
							<p class="font-extrabold">JAVASCRIPT</p>
						</div>
						<div class="p-5 bg-blue-700 text-center text-white rounded-sm ">
							<p class="font-extrabold">REACT</p>
						</div>
						<div class="p-5 bg-pink-400 text-center text-white rounded-sm ">
							<p class="font-extrabold">SASS</p>
						</div>
						<div class="p-5 bg-blue-400 text-center text-white rounded-sm ">
							<p class="font-extrabold">TAILWIND</p>
						</div>
						<div class="p-5 bg-blue-300 text-center text-white rounded-sm ">
							<p class="font-extrabold">TYPESCRIPT</p>
						</div>
					</div>
				</div>
				<div class="flex flex-col justify-evenly md:gap-6 p-5 gap-0 order-first mb-44 md:mb-0 h-full">
					
					<div>
						<h1 class="text-2xl text-[#7A88F1] font-semibold">Jerome Gabriel Gaspar</h1>
						<p class="font-semibold">Web Developer | UI and UX | Graphics Designer</p>
					</div>
					<div>
						<p class="font-normal leading-6">Jerome is a dynamic creative force, juggling roles as a web developer student, UI/UX designer, and graphics designer. With a love for coding and an eye for aesthetics, Jeje crafts user-centric experiences and captivating visuals. Their passion and adaptability promise a bright future in the world of digital design.</p>
					</div>
					<div>
						<button class="bg-[#7A88F1]  text-white rounded-md p-3 w-full" >Read More</button>
					</div>
				</div>
				<div>

				</div>
			</div>
	  </main>
	</div>{% endblock %}