{% extends 'layout.html' %}

{% block content %}
    <div id="hidden-div-expense">
    <main class="bg-[#ede9f0] min-h-screen flex p-5 items-center flex-col gap-10">
      <div class="flex flex-row gap-8">
        <button class="active text-white p-5 rounded-full text-2xl w-56 button-tab  bg-slate-600 " data-tab="content-1">Expense</button>
        <button class="p-3 rounded-full text-2xl w-56 button-tab bg-slate-600" data-tab="content-2">Reminder</button>
        
      </div>
        <div id="content-1" class="w-full tab-content" >
          <div class="self-start w-[70%] mx-auto ">
            <form
              action="/insertexpenses"
              method="post"
              class="flex flex-col gap-8 items-start justify-start w-full"
            >
        <div class="text-center w-full" >
          <p class="text-4xl mb-5">
            Add Expenses
          </p>
          <input class="bg-white p-6 rounded-full w-64 add-exp-input"  type="text" placeholder="0" name="expenseamount">
        </div>
              <input type="number" name="expenseid" hidden>
              <fieldset
                class="border-2 text-start border-[#c6b6fb] w-full ps-2 pb-1 rounded-md relative"
              >
                <legend class="text-lg tracking-wide">Category</legend>
                <input class="p-3 w-full" type="text" name="category" />
                <div
                  class="absolute right-0 p-5 bg-[#c6b6fb] -top-3 rounded-sm h-16"
                >
                  <i class="fa-solid fa-font fa-lg text-[#ffffff]"></i>
          
                </div>
              </fieldset>
              <fieldset
                class="border-2 border-[#c6b6fb] w-full ps-2 pb-1 rounded-md text-start relative"
              >
                <legend class="text-lg tracking-wide">Today</legend>
                <input class="p-3 w-full" type="date"  name="date"/>
                <div
                  class="absolute right-0 p-5 bg-[#c6b6fb] -top-3 rounded-sm h-16"
                >
          
                  <i class="fa-solid fa-clock fa-lg text-[#ffffff]"></i>
                </div>
              </fieldset>
            <p class="text-green-500 font-bold w-full text-center" id="sucessInsert">{{sucessInsert}}</p>
          <button type="submit" class=" p-4 w-full add-exp-btn text-white text-lg rounded-md">
          Save
          </button>
            </form>
          </div> 
        </div>
        <div id="content-2" class="w-full tab-content hidden">
          <div class="self-start w-[70%] mx-auto">
            <form
              action="/addreminder"
              method="post"
              class="flex flex-col gap-8 items-start justify-start w-full"
            >
            <input type="number" name="reminderid" hidden>
        <div class="text-center w-full" >
          <p class="text-4xl mb-5">
            Add Reminder
          </p>
          <input class="bg-white p-6 rounded-md w-64 add-exp-input" type="text" placeholder="Title" name="title">
        </div>
              <fieldset
                class="border-2 text-start border-[#c6b6fb] w-full ps-2 pb-1 rounded-md relative"
              >
                <legend class="text-lg tracking-wide">Content</legend>
                <input class="p-3 w-full" type="text" name="content" />
                <div
                  class="absolute right-0 p-5 bg-[#c6b6fb] -top-3 rounded-sm h-16"
                >
                  <i class="fa-solid fa-font fa-lg text-[#ffffff]"></i>
          
                </div>
              </fieldset>
              <fieldset
                class="border-2 text-start border-[#c6b6fb] w-full ps-2 pb-1 rounded-md relative"
              >
                <legend class="text-lg tracking-wide">Price</legend>
                <input class="p-3 w-full" type="text" name="price" />
                <div
                  class="absolute right-0 p-5 bg-[#c6b6fb] -top-3 rounded-sm h-16"
                >
                  <i class="fa-solid fa-font fa-lg text-[#ffffff]"></i>
          
                </div>
              </fieldset>
              <fieldset
                class="border-2 border-[#c6b6fb] w-full ps-2 pb-1 rounded-md text-start relative"
              >
                <legend class="text-lg tracking-wide">Date</legend>
                <input class="p-3 w-full" type="date" name="date" />
                <div
                  class="absolute right-0 p-5 bg-[#c6b6fb] -top-3 rounded-sm h-16"
                >
          
                  <i class="fa-solid fa-clock fa-lg text-[#ffffff]"></i>
                </div>
              </fieldset>
              <p class="text-green-500 font-semibold" id="sucess-remind">{{successremind}}</p>
          <button class=" p-4 w-full add-exp-btn text-white text-lg rounded-md">
          Save
          </button>
            </form>
          </div> 
        </div>
    </main>
  </div>
    <script src="../static/js/addExpense.js"></script>
{% endblock %}

















