{% extends 'layout.html' %} {% block content %}
<div class="min-h-screen bg-[#ede9f0]">
  <main class="flex flex-col gap-4 md:w-[75%] lg:w-[90%] m-auto">
    <section class="mt-5 p-5 md:p-0">
      <div class="flex flex-row justify-between md:w-4/5 md:m-auto">
        <div>
          <img
            class="inline-block align-middle"
            src="../static/icons/Rectangle 2.png"
            alt=""
          />

          <div class="inline-block align-middle">
            <p class="text-sm text-violet-400 font-extrabold">Welcome!</p>
            <h2 class="inline-block font-bold">{{username}}</h2>
          </div>
        </div>
        <button class="bg-violet-400 px-3 py-1 text-white rounded-full">
          <a href="/logout">Logout</a>
        </button>
      </div>
    </section>
    <div
      class="p-8 grid lg:grid-cols-4 grid-flow-dense gap-8 grid-cols-1 place-content-center place-items-center"
    >
      <section
        class="profile-section flex flex-col gap-4 lg:col-span-3 w-full lg:w-[80%]"
      >
        <div
          class="c-card p-5 rounded-3xl text-white flex flex-col gap-5 h-52 lg:w-[100%] lg:h-[40vh] w-full"
        >
          <div class="text-center leading-8 md:leading-10">
            <p class="font-extrabold md:text-2xl md:mb-4">Total Balance</p>
            <h1 class="text-2xl font-extrabold md:text-4xl">
              ${{monthlyIncome - sumexpenses}}
            </h1>
          </div>
          <div class="flex flex-row justify-between w-[90%] m-auto">
            <div>
              <span
                class="fa-solid fa-arrow-up text-green-400 bg-[#00000041] rounded-sm p-3"
                alt=""
              ></span>

              <div class="inline-block align-middle ms-2">
                <p class="text-sm text-white font-semibold md:text-lg">
                  Income
                </p>
                <h2 class="inline-block font-bold" id="monthly-income">
                  ${{monthlyIncome}}
                </h2>
              </div>
            </div>
            <div>
              <span
                class="fa-solid fa-arrow-down text-red-400 bg-[#00000041] rounded-sm p-3"
                alt=""
              ></span>

              <div class="inline-block align-middle ms-2">
                <p class="text-sm text-white font-semibold md:text-lg">
                  Expenses
                </p>
                <h2 class="inline-block font-bold" id="expenses">
                  ${{sumexpenses}}
                </h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="chart-section lg:w-[24em] bg-white p-5 rounded-2xl row-span-1 lg:row-span-2 self-start h-full w-full absolute top-0 md:static hidden md:block"
        id="chart-section-hidden"
      >
        <div>
          <div class="border-b-2 border-secondary pb-2">
            <h2 class="font-bold">
              <i class="fa-solid fa-chart-simple text-violet-500 fa-lg"></i>
              Chart Expenses
            </h2>
          </div>
          <div>
            <canvas height="370px" id="myChart"></canvas>
          </div>
        </div>
      </section>
      <section
        class="transaction-section w-full min-h-[20vh] overflow-y-auto lg:row-start-2 lg:col-span-3 row-start-2 col-span-1"
      >
        <div
          class="flex flex-row justify-between mb-3 md:mb-5 lg:w-[80%] md:m-auto w-full"
        >
          <div>
            <h2 class="text-lg font-extrabold">
              <i class="fa-solid fa-receipt text-violet-500 fa-lg"></i>
              Transaction
            </h2>
          </div>
          <div>
            <button class="text-violet-400">View All</button>
          </div>
        </div>
        <div
          class="grid grid-cols-1 gap-4 h-[15vh] lg:w-[50rem] md:m-auto md:h-[25vh] w-full"
        >
          {% for expense in expenses %}
          <div
            class="bg-white rounded-2xl w-full p-5 flex flex-row justify-between items-center"
          >
            <div>
              <div
                class="rgb-add rounded-full p-3 w-12 inline-block align-middle"
              >
                <img
                  class="w-10"
                  src="{% if expense[1]|lower == 'food' %}
                      {{ url_for('static', filename='icons/icons8-burger-96.png') }}
                {% elif expense[1]|lower == 'travel' %}
                      {{ url_for('static', filename='icons/icons8-plane-96.png') }}
                {% elif expense[1]|lower == 'school' %}
                      {{ url_for('static', filename='icons/icons8-hogwarts-96.png') }}
                {% elif expense[1]|lower == 'home' %}
                      {{ url_for('static', filename='icons/icons8-home-96.png') }}
                {% elif expense[1]|lower == 'gadjet' %}
                      {{ url_for('static', filename='icons/icons8-gadget-96.png') }}
                {% elif expense[1]|lower == 'shopping' %}
                     {{ url_for('static', filename='icons/icons8-shopaholic-96.png') }}
                {% elif expense[1]|lower == 'entertainment' %}
                     {{ url_for('static', filename='icons/icons8-tickets-96.png') }}
               {% elif expense[1]|lower == 'bills' %}
                     {{ url_for('static', filename='icons/icons8-cash-96.png') }}
                  {% endif %}"
                  alt=""
                />
              </div>
              <div class="inline-block align-middle ms-2">
                <p class="font-extrabold" id="category">{{expense[1]}}</p>
              </div>
            </div>
            <div class="text-end">
              <p class="font-semibold">-${{expense[2]}}</p>
              <span class="text-end font-extrabold text-sm text-secondary"
                >{{expense[3]}}</span
              >
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </main>
  <div
    class="absolute bottom-0 bg-slate-900 p-3 left-0 right-0 text-center text-violet-400 block md:hidden"
  >
    <i class="fa-regular fa-chart-bar"></i>
    <button id="chart-btn-toggler">Open Expense Chart</button>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const imageBackgroundPattern = new Image();
  imageBackgroundPattern.src = "../static/images/chart-pattern.jpg";

  const ctx = document.getElementById("myChart").getContext("2d");

  Chart.defaults.font.family = "Quicksand";
  Chart.defaults.font.size = 14;
  Chart.defaults.font.weight = "bolder";
  Chart.defaults.color = "#23ACE1";

  const gradient = ctx.createLinearGradient(0, 0, 0, 600);
  gradient.addColorStop(0, "#23ACE1");
  gradient.addColorStop(0.2, "#E079C2");
  gradient.addColorStop(0.4, "#CE69F5");
  gradient.addColorStop(0.6, "#7A88F1");
  gradient.addColorStop(0.8, "#CE69F5");
  gradient.addColorStop(1, "#FF9668");

  const expenseData = {{expenses|tojson}};
  console.log(expenseData);
  const expenseLabels = expenseData.map((expense) => expense[1])
  const expensePrices = expenseData.map((expense) => expense[2])

  console.log(expenseData)
  new Chart(ctx, {
    type: "bar",
    data: {
  labels: expenseLabels,
  datasets: [
    {
      label: "Expenses",
      data: [...expensePrices],
      borderRadius: 30,
      barThickness: 10,
      backgroundColor: gradient,
    },
  ],
},
    options: {
      scales: {
        y: {
          beginAtZero: true,
          grid: {
            display: false,
          },
        },
        x: {
          grid: {
            display: false,
          },
        },
      },
    },
  });

  const chartContainer = document.getElementById("chart-section-hidden");
  const chartContainerOrigStyle = chartContainer.style.display;
  const chartToggler = document.getElementById("chart-btn-toggler");
  const chartTogglerOrigContext = chartToggler.textContent;

  let isToggle = true;

  const showChart = () => {
    if (isToggle) {
      chartContainer.style.display = "block";
      chartToggler.textContent = "Close Chart";
    } else {
      chartContainer.style.display = chartContainerOrigStyle;
      chartToggler.textContent = chartTogglerOrigContext;
    }
    isToggle = !isToggle;
  };

  chartToggler.addEventListener("click", showChart);

  const imageContainer = document.getElementById("img-cont");
  const Category = document.getElementById("category");
</script>
{% endblock %}
