<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@700&family=Quicksand:wght@300;400;500;600;700&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Expense Tracker</title>
  </head>
  <body>
    <div class="min-h-screen bg-[#ede9f0]">
      <nav
        class="w-full bg-white rounded-ss-[3rem] rounded-se-[3rem] fixed bottom-0 p-6 md:top-0 md:bottom-0 md:rounded-none md:w-fit md:p-5"
      >
        <ul
          class="flex flex-row gap-10 justify-evenly md:flex-col md:justify-center h-full"
        >
          <li class="">
            <button class="fa-solid fa-house fa-2x text-violet-400"></button>
          </li>
          <li>
            <button class="fa-solid fa-wallet fa-2x text-violet-400"></button>
          </li>
          <li
            class="relative -top-12 button-bg-add rounded-full text-white w-16 h-16 flex items-center justify-center md:-top-0 md:-right-12"
          >
            <button class="fa-solid fa-plus fa-2xl"></button>
          </li>
          <li>
            <button
              class="fa-solid fa-list-check fa-2x text-violet-400"
            ></button>
          </li>
          <li>
            <button class="fa-solid fa-user fa-2x text-violet-400"></button>
          </li>
        </ul>
      </nav>
      <main class="flex flex-col gap-4 md:w-[75%] lg:w-[90%] m-auto">
        <section class="mt-5 p-5 md:p-0">
          <div class="flex flex-row justify-between md:w-4/5 md:m-auto">
            <div>
              <img
                class="inline-block align-middle"
                src="../static/icons/Rectangle 2.png"
                alt=""
              />

              <div class="inline-block align-middle">
                <p class="text-sm text-violet-400 font-extrabold">Welcome!</p>
                <h2 class="inline-block font-bold">John Doe</h2>
              </div>
            </div>
            <button class="bg-violet-400 px-3 py-1 text-white rounded-full">
              Logout
            </button>
          </div>
        </section>
        <div
          class="p-8 grid lg:grid-cols-4 grid-flow-dense gap-8 grid-cols-1 place-content-center place-items-center"
        >
          <section
            class="profile-section flex flex-col gap-4 lg:col-span-3 w-full lg:w-[80%]"
          >
            <div
              class="c-card p-5 rounded-3xl text-white flex flex-col gap-5 h-52 lg:w-[100%] lg:h-[40vh] w-full"
            >
              <div class="text-center leading-8 md:leading-10">
                <p class="font-extrabold md:text-2xl md:mb-4">Total Balance</p>
                <h1 class="text-2xl font-extrabold md:text-4xl">$ 42744.00</h1>
              </div>
              <div class="flex flex-row justify-between w-[90%] m-auto">
                <div>
                  <span
                    class="fa-solid fa-arrow-up text-green-400 bg-[#00000041] rounded-sm p-3"
                    alt=""
                  ></span>

                  <div class="inline-block align-middle ms-2">
                    <p class="text-sm text-white font-semibold md:text-lg">
                      Incomes
                    </p>
                    <h2 class="inline-block font-bold">4,500.000</h2>
                  </div>
                </div>
                <div>
                  <span
                    class="fa-solid fa-arrow-down text-red-400 bg-[#00000041] rounded-sm p-3"
                    alt=""
                  ></span>

                  <div class="inline-block align-middle ms-2">
                    <p class="text-sm text-white font-semibold md:text-lg">
                      Expenses
                    </p>
                    <h2 class="inline-block font-bold">5,900.000</h2>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="chart-section lg:w-[24em] bg-white p-5 rounded-2xl row-span-1 lg:row-span-2 self-start h-full w-full absolute top-0 md:static hidden md:block"
            id="chart-section-hidden"
          >
            <div>
              <div class="border-b-2 border-secondary pb-2">
                <h2 class="font-bold">
                  <i class="fa-solid fa-chart-simple text-violet-500 fa-lg"></i>
                  Chart Expenses
                </h2>
              </div>
              <div>
                <canvas height="370px" id="myChart"></canvas>
              </div>
            </div>
          </section>
          <section
            class="transaction-section w-full min-h-[20vh] overflow-y-auto lg:row-start-2 lg:col-span-3 row-start-2 col-span-1"
          >
            <div
              class="flex flex-row justify-between mb-3 md:mb-5 lg:w-[80%] md:m-auto w-full"
            >
              <div>
                <h2 class="text-lg font-extrabold">
                  <i class="fa-solid fa-receipt text-violet-500 fa-lg"></i>
                  Transaction
                </h2>
              </div>
              <div>
                <button class="text-violet-400">View All</button>
              </div>
            </div>
            <div
              class="grid grid-cols-1 gap-4 h-[15vh] lg:w-[50rem] md:m-auto md:h-[25vh] w-full"
            >
              <div
                class="bg-white rounded-2xl w-full p-5 flex flex-row justify-between items-center"
              >
                <div>
                  <div
                    class="bg-[#FEB929] rounded-full p-3 w-12 inline-block align-middle"
                  >
                    <img
                      class="w-10"
                      src="../static/icons/icons8-burger-96.png"
                      alt=""
                    />
                  </div>
                  <div class="inline-block align-middle ms-2">
                    <p class="font-extrabold">Food</p>
                  </div>
                </div>
                <div class="text-end">
                  <p class="font-semibold">-$45.00</p>
                  <span class="text-end font-extrabold text-sm text-secondary"
                    >Today</span
                  >
                </div>
              </div>

              <div
                class="bg-white rounded-2xl w-full p-5 flex flex-row justify-between items-center"
              >
                <div>
                  <div
                    class="bg-[#813EE5] rounded-full p-3 w-12 inline-block align-middle"
                  >
                    <img
                      class="w-10"
                      src="../static/icons/icons8-shopaholic-96.png"
                      alt=""
                    />
                  </div>
                  <div class="inline-block align-middle ms-2">
                    <p class="font-extrabold">Shopping</p>
                  </div>
                </div>
                <div class="text-end">
                  <p class="font-semibold">-$45.00</p>
                  <span class="text-end font-extrabold text-sm text-secondary"
                    >Today</span
                  >
                </div>
              </div>

              <div
                class="bg-white rounded-2xl w-full p-5 flex flex-row justify-between items-center"
              >
                <div>
                  <div
                    class="bg-[#DD2C2D] rounded-full p-3 w-12 inline-block align-middle"
                  >
                    <img
                      class="w-10"
                      src="../static/icons/icons8-plane-96.png"
                      alt=""
                    />
                  </div>
                  <div class="inline-block align-middle ms-2">
                    <p class="font-extrabold">Travel</p>
                  </div>
                </div>
                <div class="text-end">
                  <p class="font-semibold">-$95.00</p>
                  <span class="text-end font-extrabold text-sm text-secondary"
                    >Yesterday</span
                  >
                </div>
              </div>

              <div
                class="bg-white rounded-2xl w-full p-5 flex flex-row justify-between items-center"
              >
                <div>
                  <div
                    class="bg-[#2cdd6d] rounded-full p-3 w-12 inline-block align-middle"
                  >
                    <img
                      class="w-10"
                      src="../static/icons/icons8-cash-96.png"
                      alt=""
                    />
                  </div>
                  <div class="inline-block align-middle ms-2">
                    <p class="font-extrabold">Bills</p>
                  </div>
                </div>
                <div class="text-end">
                  <p class="font-semibold">-$255.00</p>
                  <span class="text-end font-extrabold text-sm text-secondary"
                    >Yesterday</span
                  >
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <div
        class="absolute bottom-0 bg-slate-900 p-3 left-0 right-0 text-center text-violet-400 block md:hidden"
      >
        <i class="fa-regular fa-chart-bar"></i>
        <button id="chart-btn-toggler">Open Expense Chart</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/js/homeChart.js"></script>
  </body>
</html>
